:root {
    --red: rgb(218, 152, 152);
    --darkerRed: rgb(193, 88, 88);
    --darkRed: rgb(219, 79, 102);
    --maroon: rgb(198, 9, 9);
    --whitish: rgb(244, 238, 238, 0.7);
    --whitish2: rgb(253, 248, 248);
    --rosa: rgb(255, 0, 93);
    --coral: #fe8772;
    --darkerCoral:#df4545;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 35rem;
}

header{
    background-color: var(--red);
}

li{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
}

h2 {
    color: var(--maroon);
}
.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-link{
    transition: 0.5s ease;
}

.nav-link:hover{
    color: var(--darkerRed);
}

#marca{
    color: var(--darkRed);
    font-weight: bold;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.borda {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn {
    display: flex;
justify-content: flex-end;
}
table, td, th{
    /* margin: 60px 0px 0px 25%; */
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px var(--darkerRed) solid;
    border-collapse: collapse;
    
}

td {
    background-color: var(--whitish);
}

th {
    background-color: var(--red);
    color: #fff;
}

#aluguel{
    /* margin: 60px 0px 0px 0%; */
    text-align: center; 
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

#link{
    font-size: 14pt;
    color: black;
    text-decoration: none;
}

img{
    width: 20px;
    height: 20px;
    margin: 2px;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#add{
    margin: 1rem;
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 3px; */
    float: left;
    cursor: pointer;
    border: 2px solid var(--darkerRed);
    font-family: "Helvetica Neue", Helvetica, Arial,;
    font-size: 1.2rem;
    background-color: var(--red);
    color:white;
    width: 9rem;
    border-radius: 0.5rem;
    min-width: fit-content;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

  /* Modal Content/Box */
.modal-content {
    background-color: var(--whitish2);
    margin: 6% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    width: 65%;
    border: 2px solid var(--darkerRed);
    /* text-align: center; Could be more or less, depending on screen size */
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 10% 10%;
}

.main_rent {
    display: grid;
    grid-template-columns: 30% 1fr;
}

.livro {
    grid-column-start: 1;
    grid-row-start: 1;
}

.autor {
    grid-column-start: 2;
    grid-row-start: 1;
}  

.ano {
    grid-column-start: 3;
    grid-row-start: 1;
}  

.nota {
    grid-column-start: 4;
    grid-row-start: 1;
}  

.avali {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
}

#livro, #alter_livro,  #alter_cli, #autor, #alter_autor,  #nota, #alter_nota, #cliente, #obs {
    border: 2px solid var(--darkerCoral);
    width: 98%;
    margin: 1.5px;
}

#ano_lanc, #alter_ano_lanc {
    border: 2px solid var(--darkerCoral);
    width: 92%;
    margin: 1.5px;
}
#ano_lanc {
    width: 98%;
}

#resenha, #alter_resenha {
    border: 2px solid var(--darkerCoral);
    width: 100%;
    min-height: 3rem;
    margin: 1.5px;
}
#alter_obs {
    border: 2px solid var(--darkerCoral);
    width: 98%;
    min-height: 3rem;
    margin: 1.5px;
}
#alter_dtaluguel, #alter_dtretorno {
    border: 2px solid var(--darkerCoral);
    width: 98%;
    margin: 1.5px;

}

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--maroon);
    text-decoration: none;
    cursor: pointer;
}

input{
    border-radius: 5px;
    border: 1px solid black;
    font-size: 15px;
    padding: 5px;
}

#salvar{
    border: 2px solid var(--darkerCoral);
    font-family: "Helvetica Neue", Helvetica, Arial,;
    font-size: 16px;
    margin: 1rem;
    padding: 0.3rem;
    text-align: center;
    background-color: var(--coral);
    color:white;
    width: 9rem;
    border-radius: 0.5rem;
    cursor: pointer;
}




.alterarModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .alter-modal-content {
    background-color: var(--whitish2);
    margin: 6% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    width: 65%;
    /* text-align: center; Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close_alter {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close_alter:hover,
  .close_alter:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

@media (max-width: 768px){
    .hamburguer{
        display: block;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #101026;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0px
    }

    table, td, th{
        margin: 20px 60px 0px 10%;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 2px black solid;
        border-collapse: collapse;
    }

    #aluguel{
        margin: 20px 60px 0px 10%;
    }
    
    #add{
        position: relative;
        margin-top: 220px;
    }
}

